<!DOCTYPE html>
<html>
	<title>Test Site</title>
	<script src="..\JS\angular-1.6.4\angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<link rel="stylesheet" href="..\CSS\layout.css"/>	
	
	<body ng-app="myApp" >
		<div ng-controller="myCtrl" >
			
			<div class="mainBody" ng-style="style()" resize>			
				
				<div class="controller" ng-style="myObj" data-ng-init="moveToSlider(1)" >						
					<div class="slider" ng-style="slidestyle" >						
						<div ng-show="imgdisp1" id="imgdisp1" class="sliderImgDiv">
							<div class="overlaydiv" >
								<p class="overlaygen">FOR THE LOVE OF CREATIVES</p>
								<span class="overlaytext">The most powerful way to</span> 
								<span class="overlaytext">share your work.</span>								
							</div>	
							<video id="myVideo" width="100%" height="100%" class="sliderimg animate-show animate-hide">
							  <source src="http://thenewcode.com/assets/videos/fashion-export.mp4" type="video/mp4" width="100%" height="100%">  
							</video>
						</div>					
						<!--<div>
							<img src="../images/video-background1.jpg"   class="sliderimg" />
						</div>-->	
						<div ng-show="imgdisp2" id="imgdisp2" class="sliderImgDiv">						
							<div class="overlaydiv2" >								
								<p class="overlaytext2">Designed to be unforgettable.</p> 
								<hr class="overlaydivider" data-width="100px">
								<p class="overlaygen2">Struck is perfect for artists, agencies, startups, software and product designers. 
								Struck helps you showcase your work in a unique way to ensure you’re remarkable.</p>
							</div>	
							<img src="../images/start-dusk-1500x1000.jpg" ng-show="imgdisp2" class="sliderimg animate-show animate-hide" />	
						</div>	
						<div ng-show="imgdisp3" id="imgdisp3" class="sliderImgDiv">
							<div class="overlaydiv3" >
								<p class="overlaygen">SECTION SLIDESHOWS</p>
								<span class="overlaytext">Give your story a whole other </span> 
								<span class="overlaytext">dimension of intrigue.</span>
							</div>
							<img src="../images/slide3.png" ng-show="imgdisp3" class="sliderimg animate-show animate-hide"/>	
						</div>	
						<div ng-show="imgdisp4" id="imgdisp4" class="sliderImgDiv">	
							<div class="overlaydiv4" >								
								<p class="overlaytext2">What’s New</p> 
								<p class="overlaygen4">Check out our featured news, projects and more.</p>								
							</div>
							<img src="../images/man-with-hands.png" ng-show="imgdisp4" class="sliderimg animate-show animate-hide" />
						</div>
						<img src="../images/down.png"  class="overlayimg" ng-click="" ng-show="sliderarrow"/>
					</div>
					<div class="sliderLi">
						<ul>
							<li ng-style="disp1" ng-click="moveToSlider(1)"></li>
							<li ng-style="disp2" ng-click="moveToSlider(2)"></li>
							<li ng-style="disp3" ng-click="moveToSlider(3)"></li>
							<li ng-style="disp4" ng-click="moveToSlider(4)"></li>
						</ul>
					</div>
					<div class="itemsdisp" >
						<div class="subDiv">
							<a href="javascript:void(0);"><img ng-src="{{struckImg}}" class="homeImg"/></a>							
						</div>
						<div class="subDiv1">							
							<ul class="navigation" >
								<li class="menuitems">
									<a href="javascript:void(0);" ng-mouseover="showContent('none')" ng-click="slideDiv()" ng-style="myObj1">
										<img ng-src="{{menuImg}}" class="menuToggle" ng-show="imageshow"/>
										<img ng-src="{{menuCloseImg}}" class="menuToggleClose" ng-show="imageshowclose"/>
									</a>
								</li>
								<li ng-repeat="menuitems in menuitems" class="menuitems" ng-mouseover="showContent(menuitems.title)" >
									<a href="javascript:void(0);" ng-style="menubar">{{menuitems.title}} &#x25BF;</a>
								</li>								
							</ul>
						</div>
					</div>					
					<div class="bodyController" >
						<div class="admindisp" ng-show="admin" >
							<ul class="navigation1" ng-mouseleave="hideContent()">
								<li ng-repeat="adminitems in adminitems" class="adminitems"	ng-click="adminList.activeItem=adminitems.id">
									<a href="javascript:void(0);">{{adminitems.title}}</a>
								</li>
							</ul>
						</div>
						<div class="featuresdisp" ng-show="features">
							<ul class="navigation1" ng-mouseleave="hideContent()">
								<li ng-repeat="featureitems in featureitems" class="featureitems" ng-click="featureList.activeItem=featureitems.id">
									<a href="javascript:void(0);">{{featureitems.title}}</a>
								</li>
							</ul>
						</div>
						
					</div>
				</div>								
				<div class="controller-right" ng-show="show">
					<input type="text" name="s" id="s" placeholder="Search..." maxlength="20">
					<ul class="navigationToggle">
						<li ng-repeat="toggleItems in toggleItems" class="toggleItems" ng-click="showSubContent(toggleItems.id,toggleItems.title)"  ng-show="{{toggleItems.id}}">
							<img ng-src="..\images\leftArrow.png" class="subContentLeftImg" ng-show="imgLeft{{toggleItems.id}}"/>
							<a href="javascript:void(0);" id="a{{toggleItems.id}}" ng-style="style{{toggleItems.id}}">{{toggleItems.title}}
							<img ng-src="..\images\rightArrow.png" class="subContent" ng-show="img{{toggleItems.id}}"/></a>
						</li>								
					</ul>
					<ul class="navigationToggle1" ng-show="navObj1">						
						<li class="toggleItems" ng-click="" ><a href="javascript:void(0);"  ng-style="">The Team</a></li>
						<li class="toggleItems" ng-click="" ><a href="javascript:void(0);"  ng-style="">About Me</a></li>														
					</ul>
					<ul class="navigationToggle3" ng-show="navObj3">
						<li class="toggleItems" ng-click="" ><a href="javascript:void(0);"  ng-style="">Branding</a></li>
						<li class="toggleItems" ng-click="" ><a href="javascript:void(0);"  ng-style="">Photography</a></li>
						<li class="toggleItems" ng-click="" ><a href="javascript:void(0);"  ng-style="">Product Design</a></li>														
					</ul>
					<div class="textwidget">
						<p>
							<a href="http://twitter.com/" class="twitter" target="_blank" title="Follow Me"></a> 
							<a href="http://facebook.com/" class="facebook" target="_blank" title="Like Us"></a> 
							<a href="http://instagram.com/" class="instagram" target="_blank" title="Follow Me"></a> 
							<a href="http://dribbble.com/" class="dribbble" target="_blank" title="Follow Me"></a> 
							<a href="http://youtube.com/" class="youtube" target="_blank" title="Follow Me"></a>
						</p>						
					</div>
					<div class="footerText">© 2015 Your Company</div>
				</div>
			</div>
		</div>
		
	</body>
	<script src="..\JS\app.js"></script>
</html>
