<!DOCTYPE html>
<html>
	<script src="..\JS\angular-1.6.4\angular.min.js"></script>
	<script src="..\JS\jquery-1.7.1.min.js"></script>
	<link rel="stylesheet" href="..\CSS\layout.css"/>
	<script src="..\JS\app.js"></script>
	
	<body ng-app="myApp" >
		<div ng-controller="myCtrl" >
			<div class="sliderDiv">
				<div class="textdisp">	
					<p class="title">{{Title}}</p><p class="title2" ng-click="showDiv()">&#8900; {{Options}}</p>
					<img alt="theme" ng-src="{{MobileImageUrl}}" class="imageIcon" ng-attr-title="Mobile View"/>
					<img alt="theme" ng-src="{{TabImageUrl}}" class="imageIcon" ng-attr-title="Tablet View"/>
					<img alt="theme" ng-src="{{DesktopImageUrl}}" class="imageIcon" ng-attr-title="Desktop View"/>
				</div>
				<div class="imgSliderDiv" ng-show="display">
					<div class="leftArrow" ><img alt="theme" ng-src="..\images\left.png" class="anchors" ng-click="scrollImageLeft()"/></div>
					<div class="imageDiv"> 					
						<ul class="navigation2">
							<li ng-repeat="siteitems in siteitems"  ng-show="{{siteitems.id}}" class="siteitems" ng-id="{{siteitems.id}}" ng-click="siteList.activeItem=siteitems.id">
								<div>
									<img alt="theme" ng-src="{{siteitems.imagename}}" class="siteIcons"/><span class="title">{{siteitems.title}}</span>
								</div>
							</li>
						</ul>						
					</div>
					<div class="rightArrow"><img alt="theme" ng-src="..\images\right.png" class="anchors" ng-click="scrollImageRight()"/></div>
				</div>
			</div>
			<div class="mainBody" >
				<div class="controller" ><!--ng-mouseout="hideContent()"-->
					<div class="itemsdisp" >
						<ul class="navigation">
							<li ng-repeat="menuitems in menuitems" class="menuitems" ng-click="menuBarList.activeItem=menuitems.id">
								<a href="javascript:void(0);" ng-mouseover="showContent(menuitems.title)">{{menuitems.title}} &#x25BF;</a>
							</li>
						</ul>
					</div>					
					<div class="bodyController" >
						<div class="admindisp" ng-show="admin" >
							<ul class="navigation1" >
								<li ng-repeat="adminitems in adminitems" class="adminitems"	ng-click="adminList.activeItem=adminitems.id">
									<a href="javascript:void(0);">{{adminitems.title}}</a>
								</li>
							</ul>
						</div>
						<div class="featuresdisp" ng-show="features">
							<ul class="navigation1">
								<li ng-repeat="featureitems in featureitems" class="featureitems" ng-click="featureList.activeItem=featureitems.id">
									<a href="javascript:void(0);">{{featureitems.title}}</a>
								</li>
							</ul>
						</div>
						<div class="workdisp" ng-show="work">
							<ul class="navigation1">
								<li ng-repeat="workitems in workitems" class="workitems" ng-click="workList.activeItem=workitems.id">
									<a href="javascript:void(0);">{{workitems.title}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>								
				
			</div>
		</div>
	</body>
</html>
