body{
	padding : 0px;
	margin : 0px !important; 
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
    
}
.sliderDiv, .mainBody{
	padding : 0px;
	margin : 0px;
	width : 100%;
	height : 100%;
	position:relative;
}
.controller{
	padding : 0px;
	margin:0px;	
	/* supports all browsers */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;		
	 /*Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	position:absolute;
	background-image: url('../images/bck-img.jpg');
	width:100%;
	height:700px;
}
.controller-right{
	width:225px;
	height:700px;
	background-color:#1e1e1e;
	border:1px solid #333;
	top:0;
	position:absolute;
	right:0;
	Padding:2%;
}
.itemsdisp { 
	position: absolute;
	display:inline-block;
	opacity: 0.8;	
	width: 96%;
	height:4%;
	left: 0;
	/*top: 8%;*/
	padding:2%;	
	color:#0e0e0e;	 
}
.subDiv{
	width:16%;
	float:left;
	padding-right:20px;
}
.subDiv1{
	width:78%;
	float:left;
}
.homeImg{
	width:136px;
	height:35px;
	float:right;
}
.menuToggle{
	width: 30px;
    height: inherit;
}

.textdisp { 	
	width: 100%;
	/*height:6%;*/
	background-color:#2553A9;
	left: 0;
	top:0;
	display:inline-block;
	margin-right:1%
	
}
.image { 	
	width : 100%;
	height : 100%;
}

.sliderDiv{
	height:6%;
	background-color:#2553A9;
}
.textdisp { 	
	width: 100%;
	/*height:6%;*/
	background-color:#2553A9;
	left: 0;
	top:0;
	display:inline-block;
	margin-right:1%
	
}
.imageIcon{
	cursor: pointer;
	width: 3%;
	/*height:1%;*/
	float:right;
	padding:1%;
	right:0;
}

.title{
	cursor: pointer;
	color:#0e0e0e;
	 font-size:20px;
	 font-style:italic;
	 margin:0;
	 padding:2% 1% 1% 2%;
	 float:left;
	 font-weight: bold;
}
.title2{
	cursor: pointer;
	color:#0e0e0e;
	font-size:20px;
	 margin:0;
	 padding:2% 1% 1% 2%;
	 float:left;
	 text-transform:uppercase;
}

.itemsdisp { 	
	width: 96%;
	height:4%;
	left: 0;
	/*top: 8%;*/
	padding:2%;
	display:inline-block;
	color:#0e0e0e;
	opacity: 0.8;
	position: absolute; 
}

.bodyController{
	margin:0 !important; 
	padding-top:6%;
}

ul.navigation li {
    cursor: pointer;
	text-transform:uppercase;
	float:right;
	list-style:none;
	padding:0 5% 0 0 ;
	font-weight: bold;
	
}
ul.navigation li a{
	color: #cecece;
    text-decoration: none;
}

.navigation {
	margin:1%;
}

.admindisp, .featuresdisp, .workdisp{ 
	color:#0e0e0e;
	opacity:0.8;	
}
.admindisp{margin:0 15% 0 62%;width:20%; }
.featuresdisp{margin:0 15% 0 70%;width:12%;}
.workdisp{margin:0 6% 0 79%;width:12%; }

.navigation1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: auto;
    overflow: auto;
}

.navigation1 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.navigation1 li a:hover {
    display: block;
    background-color: #000;
	color:#fff;
	
}

.imageIcon:hover {
    -moz-box-shadow: 0 0 10px #000; 
	-webkit-box-shadow: 0 0 10px #000; 
	box-shadow: 0 0 10px #000; 
}
.text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

.imageIcon:hover .text {
visibility:visible;
}
.imgSliderDiv{
	width : 100%;
	height: 230px;
	background-color:#dedede;
	overflow:hidden;
}
.imageDiv{
	width : 87%;
	height: 230px;
	background-color:#dedede;
	overflow:hidden;
	float:left;
}
.siteIcons{
	width:240px;
	Height:160px;	
}

ul.navigation2{
	float:left;
}
ul.navigation2 li {
	float:left;
	list-style:none;
	/*padding:0 3% 0 0 ;*/
	height:160px;
	margin:0;
	width: 280px;
	
}
ul.navigation2 li img{
    text-decoration: none;
	
}

.anchors{
	height:20px;
	width:20px;
	padding-top:105px;
	float:left;
}
.leftArrow{
	padding-left: 2.5%;
	float:left;
	width:3%;
}
.rightArrow{
	padding-left: 2.5%;
	float:right;
	width:3%;
}
/*.fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
input#s {
    font-size: 12px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    max-width: 300px;
    margin: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0 14px;
    color: #555;
    border: none;
    background: #e3e3e3;
    background: rgba(0, 0, 0, 0.075);
}*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input#s {
    background: #282828;
    color: #cecece;
    border-color: #444;
	font-size: 14px;
    width: 92%;
    height: 45px;
    line-height: 42px;
    max-width: 300px;
    margin: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0 14px;
	background-image : url('../images/search.png') no-repeat;
}