body{
	padding : 0px;
	margin : 0px !important; 
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
    
}
.mainBody{
	padding : 0px;
	margin : 0px;
	width : 100%;
	/*height:700px;*/
	position:relative;
	height:100%;
	overflow:hidden;
}
.overlay{
	background:#000; opacity:0.2; z-index:1; position:absolute; height:100%;width:100%; text-align:center; top:0%; pointer-events:none;
	transition:ease-in-out;
	transition-delay: 2s;
}
.overlaydiv{
	width:40%;
	height:40%;
	margin-left: 30%;
    margin-top: 15%;
	text-align:center;
}
.overlayimg{
	bottom: 0px;    
    width: 70px;
    height: 30px;
	padding-top: 10%;	
	cursor: pointer;
}

.overlaygen{	
font-size: 0.95em;
letter-spacing: 0.10em;
color: #dcdcdc;
text-align:center;
padding-bottom: 5%;
}
.overlaytext{
color: #fff;
font-size:48px;
text-align:center;
}

.controller{
	padding : 0px;
	margin:0px;	
	/* supports all browsers */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;		
	 /*Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	position:absolute;
	/*background-image: url('../images/bck-img.jpg');*/
	width:100%;
	/*height:700px;*/
	height:100%;
}
.active{
	color:#000;
}
.inactive{
	color:#dcdcdc;
}
.controller .sliderimg{
	/*height:700px;*/
	width:100%;
	height:100%;
	
}
div.sliderLi{
    top: 38%;
    display: inline-block;
    position: absolute;
    float: right;
    right: 2%;	
}
.sliderLi ul li{
	font-size:140%;
	color:#fff;
}
.controller-right{
	width:225px;
	/*height:638px;*/
	height:96%;
	background-color:#000;
	border:3px solid #000;
	top:0;
	position:absolute;
	right:0;
	Padding:2% 2% 1% 0;
}

.subDiv{
	width:16%;
	float:left;
	padding-right:20px;
}
.subDiv1{
	width:78%;
	float:left;
}
.homeImg{
	width:136px;
	height:35px;
	float:right;
}
.menuToggle{
	width: 30px;
    height: inherit;
}
.menuToggleClose{
	width: 20px;
height:20px;
}
.image { 	
	width : 100%;
	height : 100%;
}


.imageIcon{
	cursor: pointer;
	width: 3%;
	/*height:1%;*/
	float:right;
	padding:1%;
	right:0;
}

.title{
	cursor: pointer;
	color:#0e0e0e;
	 font-size:20px;
	 font-style:italic;
	 margin:0;
	 padding:2% 1% 1% 2%;
	 float:left;
	 font-weight: bold;
}
.title2{
	cursor: pointer;
	color:#0e0e0e;
	font-size:20px;
	 margin:0;
	 padding:2% 1% 1% 2%;
	 float:left;
	 text-transform:uppercase;
}

.itemsdisp { 
	position: absolute;
	display:inline-block;
	opacity: 0.8;	
	width: 96%;
	height:4%;
	left: 0;
	top: 0;
	padding:2%;	
	color:#0e0e0e;	 
}

.bodyController{
    margin: 0 !important;
    top: 10%;
    position: absolute;
    opacity: 0.8;
	width:100%;
}
.admindisp{margin:0 15% 0 62%;width:20%; }
.featuresdisp{margin:0 15% 0 70%;width:12%;}
.workdisp{margin:0 6% 0 79%;width:12%; }

ul.navigation li {
    cursor: pointer;
	text-transform:uppercase;
	float:right;
	list-style:none;
	padding:0 5% 0 0 ;
	font-weight: bold;
	
}
ul.navigation li a{	
	color: #dcdcdc;
    text-decoration: none;
	font-size:0.85em;
	letter-spacing: 0.15em;
}

.navigation {
	margin:1%;
}

.admindisp, .featuresdisp, .workdisp{ 
	color:#0e0e0e;
	opacity:0.8;	
}
/**/

.navigation1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: auto;
    overflow: auto;
}

.navigation1 li a {
    display: block;
    color: #000;
    padding: 8px 16px; 
    text-decoration: none;
	font-size:0.85em;
	letter-spacing: 0.15em;
}
.navigation1 li a:hover {
    display: block;
    background-color: #000;
	color:#fff;	
}

.imageIcon:hover {
    -moz-box-shadow: 0 0 10px #000; 
	-webkit-box-shadow: 0 0 10px #000; 
	box-shadow: 0 0 10px #000; 
}
.text {
	position:relative;
	bottom:30px;
	left:0px;
	visibility:hidden;
}

.imageIcon:hover .text {
	visibility:visible;
}
.imgSliderDiv{
	width : 100%;
	height: 230px;
	background-color:#dedede;
	overflow:hidden;
}
.imageDiv{
	width : 87%;
	height: 230px;
	background-color:#dedede;
	overflow:hidden;
	float:left;
}
.siteIcons{
	width:240px;
	Height:160px;	
}

ul.navigation2{
	float:left;
}
ul.navigation2 li {
	float:left;
	list-style:none;
	/*padding:0 3% 0 0 ;*/
	height:160px;
	margin:0;
	width: 280px;
	color: #dcdcdc;
    text-decoration: none;
	font-size:0.85em;
	letter-spacing: 0.15em;
	
}
ul.navigation2 li img{
    text-decoration: none;
	
}

.anchors{
	height:20px;
	width:20px;
	padding-top:105px;
	float:left;
}
.leftArrow{
	padding-left: 2.5%;
	float:left;
	width:3%;
}
.rightArrow{
	padding-left: 2.5%;
	float:right;
	width:3%;
}
/*.fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
input#s {
    font-size: 12px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    max-width: 300px;
    margin: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0 14px;
    color: #555;
    border: none;
    background: #e3e3e3;
    background: rgba(0, 0, 0, 0.075);
	#282828
}*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input#s {
    background:#333 ;
    color: #fff;
    border-color: #444;
	font-size: 12px;
    width: 75%;
    height: 7%;
    line-height: 42px;
    max-width: 300px;
    margin: 8% 10%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0 3%;
	background-image : url('../images/search1.jpg');
	background-size: 15px 15px;
    background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}
ul.navigationToggle li {
    cursor: pointer;
	text-transform:uppercase;
	list-style:none;
	font-weight: bold;	
	margin-bottom:8%;
	height:10%;
	
}
ul.navigationToggle li a{
	color: #dcdcdc;
    text-decoration: none;
	font-size:0.85em;
	letter-spacing: 0.15em;
}

.navigationToggle, .navigationToggle1, .navigationToggle3  {
	padding-left: 10%;
}
ul.navigationToggle1 li, ul.navigationToggle3 li  {
    cursor: pointer;
	text-transform:uppercase;
	list-style:none;
	font-weight: bold;	
	margin-bottom:8%;
	height:10%;
	
}
ul.navigationToggle1 li a, ul.navigationToggle3 li a{
	color: #fff;
	font-size:0.95em;
    text-decoration: none;
	letter-spacing: 0.15em;
}
img.subContent{
	width:6px;
	height:6px;
	float:right;
	padding-top:3%;
}
img.subContentLeftImg{
	width:8px;
	height:6px;
	float:left;
	padding-top:4%;
	padding-right:5%;
}
.textwidget{
	width:80%;
	height:8%;
	margin-top:70%;
	padding-left: 10%;
}
.textwidget p a{
	float:left;
	width:25px;
	height:25px;
	padding-right: 6%;
	top:0;
	left:0;	
}
.twitter{
	background-image : url('../images/twitter.png');
	background-size: 20px 20px;
    background-repeat: no-repeat;
}
.facebook{
	background-image : url('../images/facebook.png');
	background-size: 20px 20px;
    background-repeat: no-repeat;
}
.instagram{
	background-image : url('../images/instagram.png');
	background-size: 20px 20px;
    background-repeat: no-repeat;
}
.dribbble{
	background-image : url('../images/dribbble.png');
	background-size: 20px 20px;
    background-repeat: no-repeat;
}
.youtube{
	background-image : url('../images/youtube.png');
	background-size: 20px 20px;
    background-repeat: no-repeat;
}
.footerText{
	color:#fff;
	width:80%;
	height:8%;
	margin-top:20%;
	padding-left: 10%;
}
